@import url(http://fonts.googleapis.com/css?family=Roboto);

body{
  font-family: 'Roboto', sans-serif;
}

.yl-nav{
  background: #6DA0E2;
  border: 0;
  border-bottom: 5px solid #4988da;
  margin: 0;
  border-radius: 0;
}

.navbar-nav a{
  text-decoration: none;
  color: #F3F3F3;
  display: block;
  float: left;
  list-style: none;
  padding: 20.5px;
  transition: 0.3s ease-in-out;
  font-weight: bold;
  font-size: 20px;

  &:hover{
    color: #0B3D7D;
  }
}

.HeroImage{
  padding: 0;
}

.jumbotron{
  padding:0;
}

p{
  letter-spacing: 1px;
  line-height: 23px;
  font-size: 16px;
}

footer{
  margin-top: 40px;
  background: #6DA0E2;
  border-top: 5px solid #4988da;
  height:60px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #6DA0E2;
}

.yl-list{
  font-size:16px;
}

.yl-margin-top{
margin-top:20px;
}

.navbar-toggle{
  background: #fff;
  padding: 19px;
}

.Social-Button{
  background:#222;
  height:55px;
  padding:0;
}
.facebook{
  background: #3b5998;
}

.twitter{
  background: #55acee;
}

.googleplus{
  background: #dd4b39;
}

.github{
  background: #000000;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  overflow: hidden;
}

.flex-item {
  background: tomato;
  //padding: 5px;
  width: 275px;
  height: 200px;
  margin-top: 10px;

  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  cursor: pointer;


}

.overlay{
  position: fixed;
  width:100%;
  background: #222;
  top:0;
  visibility: hidden;
  height:100%;
}

.view{
  visibility: visible;
}
.overlayImg{
}

.hide{
  visibility: hidden;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.btn-close{
  width:50px;
  height:50px;
  position: relative;
  border-radius:10px;
  border:1px solid #8E8E8E;
//  top: 10px;
//  right:50%;
  background-image:url('../Images/Gallery/Cross.png');
  background-size: 50px, 50px;
  cursor:pointer;
  top: 10px;

}
